html,
body {
    height: 100%;
}
.whos-turn {
    font-size: 20px;
}

.box {
    border: 1px solid darkblue;
    text-align: center;
    font-size: 100px;
    line-height: 175px;
    height: 175px;
    width: 175px;
    float: left;
    color: darkblue;
}

.box:focus {
    outline: 0px;
}

.box-default {
    background-color: rgb(0, 159, 212);
}

.box-light-blue {
    background-color: deepskyblue;
}

.post-game-overlay {
    position: absolute;
    z-index: 1;
    background-color: black;
    color: #ffbb00;
    height: 100%;
    width: 100%;
    opacity: 0%;
    font-size: 150px;
    text-align: center;
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 80%;
    }
}
